
Nadi Furkan Açıkgöz, 20170808059 Exercise Answers

# 1 Basics

## Exercise 1.1 The interpreter

a) it displays an output of 4 by simply adding those 3 and 1.

b) it displays an output of 9 by simply multiplying 3 and 3.

c) it displays an output of 8 by simply takes 2 to the 3rd power.

d) it displays whatever between the quotation marks which in this case is Hello, world! .

They worked because we directly use the python interpreter. Python interpreter directly converts it to machine language.

## Exercise 1.2: Scripts

However, when we write the above codes into the script and try to run it with Integrated Development Environment(IDE) we need to use print() function to display on the screen.

## Exercise 1.3: More interpreter

a) it simply concatenate'py' and 'thon' and display 'python'.

b) it writes 'py' three times next to each other 'pypypy' and then concatenate it with 'thon' and display 'pypypython'

c) Even though it can concatenate two strings using + sign, it cannot subscribe two strings from each other this operation is not supported. Both operands should be numerical to use - operation. We get TypeError: unsupported operand type(s) for -: 'str' and 'str'.

d) This operation is also not supported by the interpreter because concatenation is only supported between strings and in this situation there is one string and one int so we get TypeError: can only concatenate str (not "int") to str.

e) This situation is also writing '3' three times next to each other and we get an output of '333' to display.

f) In this situation if we put a inside quotation marks then the interpreter would display 'a' but without a we get an NameError: name 'a' is not defined.

g) In this situation we didn't get any error but interpreter didn't display it because we should have written a as well to display it after initializing it.

h) And in here it displays 3 because in the previous step we initialize a variable with 3.

## Exercise 1.4: Booleans

a) Interpreter returns true because both sides of the operation are the same numbers.

b) In this situation it returns true as well because 1 means also True in lower levels of machine language. Both sides of the operation is also equals so this also return true.

c) It returns false because while 1 is meaning true, 0 is false. So both sides of equation is different and we get false in this situation.

d) And here we get true because of the reason I explained in previous question.

e) It returns true because before interpreter looks the both sides of equation it performs the operation defined there and then do equality checking.

f) The result for this statement is 0 because 3 is not equal to 1 so this result is false and also 0 and 0 times 3 is 0 but interpreter does not display it because this is not an actual statement to display.

g) And in this one 3 equals 3 so we a true result which means 1 and after replacing it with 1 and doing the calculations on the left side of the very right of equality cheking operation, we get a false because the left side is 7 and the right one is 1.

h) For this statement we get a false result because the left side of the operation is 3 to the power of 5 which is 243 is not bigger than and equal to 4 to the power of 4 which is 256.

## Exercise 1.5: Integers

a) This is the division opearation. When we divide 5 to 3 the result will be floating number and the interpreter will display 1.66666 even though both of the operands are integer.

b) This is modulus operation and it calculates the remainder of division of 5 to 3 which is 2.

c) There is no difference between this operation and division of integers of 5 and 3. We also get the same result with question a which is floating point number 1.66666.

d) For this one also there is no difference so we again get an answer of 1.6666 the same as previous one.

e) The result of this operation is 2.2 because it is a modulus operation and the remainder of 5.2 when divided to 3 is 2.2.

f) This an exponent operator and the result is int number because both base and the power is integer. So interpreter doesn't encounter an issue to interpret.

## Exercise 1.6: Floats

a) In this case because base is an float number the result will also be a float number instead of integer compared to above question. When it is float, the size of result would be too large and we get an OverflowError: (34, 'Result too large').

b) The result is 1.0 which is float because all the numbers are float and their sizes are equal.

c) The result is 0.0 because when we add 1.0 with 1.0e20 (which corresponds to 10^20), the result will be 1.0 because 1.0e20 is a very huge number so adding 1.0 to it will not put a very big affect on it. So, after that adding we get 1.0e20 and subtracting it with the 1.0e20 will give the floating point of 0.0 .

## Exercise 1.7: Variables

In [3]:
name = "John Doe"
print("Hello,", name + '!')

Hello, John Doe!

## Exercise 1.8: Type casting

a) Float casting of int 123 will result as 123.0 because we convert it from int to float.

b) Float casting of string '123' will result as 123.0 again with no error because converting it from string of int to float is okay.

c) After this casting we also get 123.23 because it's string of float so converting it from string to float will be okay as previous one.

d) When we try to convert from flating point number to int we lose the floating points after converting so in this result we get integer 123.

e) However, in this case because it is a string of int and the type we want to convert it is float, there will occur an error because int inside quotation marks is not in the base of 10. And the error we get is ValueError: invalid literal for int() with base 10: '123.23'.

f) And the solution to the previous problem is this one. Before casting string of float to integer we should first convert it to float and then converting to int will give the desired output for losing the floating points of the number.

g) We can convert an int to a string without a problem the result will be '12'.

h) We can also convert a float number to a string without a problem the result will be '12.2'

i) The result will be True because any non-empty strings are considered as True but an empty string is False.

j) The result will be False because any number that is not 0 whether it is int or float will be True but 0 will be False.

k) The result will be True because of the reason I explained in previous answer that any number rather than 0 will be true.

# 2 Control flow

## Exercise 2.1: Range

range(5) returns a list of elements which starts with 0 and stops at specified number which is not included.
And for i in range(5) means we want to repeat block of code for a specific number of times starting from one number until reaching the other. In this case starting from 0 to 4 not including 5.

When I typed type(range(5)), it returns range object which holds start, stop and step values and it produces numbers one by one as the loop moves to the next iteration.

## Exercise 2.2: For loops

### (a) Print the numbers 0 to 100

In [ ]:
for i in range(100):
    print(i)

### (b) Print the numbers 0 to 100 that are divisible by 7

In [ ]:
for i in range(100):
    if i % 7 == 0:
        print(i)

### (c) Print the numbers 1 to 100 that are divisible by 5 but not by 3

In [ ]:
for i in range(100):
    if (i % 5 ==  0) & (i % 3 != 0):
        print(i)

### (d) Print for each of the numbers x = 2, . . . 20, all numbers that divide x, excluding 1 and x. Hence, for 18, it should print 2 3 6 9.

In [ ]:
for i in range(2,21):
    print(f'{i}: ', end='')
    for j in range(2,21):
        if (i % j == 0) & (i != j):
            print(j, end =',')
    print()

## Exercise 2.3: Simple while loops

### (a) Print the numbers 0 to 100

In [ ]:
i = 0
while i < 100:
    print(i, end=' ')    
    i = i + 1

### (b) Print the numbers 0 to 100 that are divisible by 7

In [ ]:
i = 0
while i < 100:
    if i % 7 == 0:
        print(i , end=' ')
    i = i + 1

## Exercise 2.4: Hangman update 1

## Exercise 2.5: While loops

### Use a while loop to find the first 20 numbers that are divisible by 5, 7 and 11, and print them Hint: store the number found so far in a variable.

In [24]:
number_found = 0
x = 11

while number_found < 20:
    if (x % 5 == 0) & (x % 7 == 0) & (x % 11 == 0):
        print(x, end = ' ')
        number_found = number_found + 1
    x = x + 1

385 770 1155 1540 1925 2310 2695 3080 3465 3850 4235 4620 5005 5390 5775 6160 6545 6930 7315 7700

## Exercise 2.6: More while loops

### The smallest number that is divisible by 2, 3 and 4 is 12. Find the smallest number that is divisible by all integers between 1 and 10.

In [ ]:
num = 1
x = True
i = 0
dividends = [j+1 for j in range(10)]

while x:
    if num % dividends[i] == 0 :
        if i != 9:
            i = i +1
        else:
            x = False
    else:
        num = num + 1
        i = 0

print(f'The number is {num}!')

## Exercise 2.7: Collatz sequence

A Collatz sequence is formed as follows: We start with some number x_0, and we find the next number in the sequence by
                   {x_(i)/2, if x_(i) is even 
        x_(i+1) = {
                   {3x_(i)+1, ifx_(i) isodd
If xi = 1, we stop iterating and have found the full sequence.
For example, if we start with x_0 = 5, we obtain the sequence:
5 16 8 4 2 1
It is conjectured, though not proven, that every chain eventually ends at 1.
Print the Collatz sequence starting at x0 = 103.

In [ ]:
x = 103
while x > 1:
    print(x, end = " ")
    if x % 2 == 0:
        x = int(x / 2)
    else:
        x = 3 * x +1
print(x)